{% extends "layout/layout_mono.html" %}

{% block title %}Anciens Intermines{% endblock %}

{% block top_band %}
    <h1 style="font-weight: bold !important;">Cr&eacute;er de ma fiche ancien</h1>
        {% endblock %}

{% block content %}
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                <p style="margin-top:20px;">
                    Il semblerait que tu as d&eacute;j&agrave; demand&eacute; la cr&eacute;ation de ta fiche ancien,
                    le {{ ancien['date_update'].strftime('%d/%m/%Y') }}. Cette fiche n'a pas encore &eacute;t&eacute; valid&eacute;e
                    par un administrateur, mais elle devrait l'&ecirc;tre sous peu.<br><br>

                    <!-- Un mail de confirmation te sera envoy&eacute; d&egrave; que ta fiche aura eacute;t&eacute; valid&eacute;e.-->

                    En cas de probl&egrave;me, tu peux contacter les administrateurs.
                </p>
            </div>
        </div>

{% endblock %}
