body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.custom-box-container {
  position: relative;
}

.custom-box-divider {
  position: absolute;
  top: 0;
  left: 40%;
  height: 100%;
  width: 1px;
  border-left: 1px solid #ddd;
}

.custom-login-box {
    padding: 10px;
}