/*!
 * Custom css to override default bootstrap themes
 */

 /* reset la couleur du fond du bandeau */
 header,.header,#header{
  background: aliceblue;
}

body {
    padding-top:40px;
    overflow-y:scroll;
}


/* curseur "main" sur le tableau */
.hand-pointer {
    cursor: hand;
    cursor: pointer;
}

/******************************************
menu de recherche
*******************************************/
 /* offset pour le menu de recherche */
.custom-search{
    margin-top:20px;
    top:30px;
    padding-left:0px;
    width: inherit;
    height:auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: aliceblue;
}

 /* pour ne pas trop coller le premier champ de recherche aux onglets */
.custom-search .tab-content {
    padding-top:10px;
}

/* onglets en blanc */
.custom-search .nav-tabs {
    margin-bottom:0px;
    margin-left:0px;
    padding-left:5px;
    background:white;
}

/* détacher le login */
.custom-login {
    padding-top:20px;
    padding-bottom:5px;
 }

 /* pour les champs de recherche */
.custom-input-width {
    width:100%;
    max-width:100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height:30px;
    min-height:30px;
    margin-right: 5px;
}

.custom-triple-height {
    height:90px;
}

.custom-search .form-horizontal .control-label {
    width:65px;
    margin-left:10px;
}

.custom-search .form-horizontal .controls {
    margin-left:85px;
    margin-right:10px;
}

.custom-padding-right{
    padding-left:5px;
    padding-right:20px;
}



/******************************************
popup d'aide
*******************************************/
.custom-justify{
    text-align:justify
}

.custom-justify > dl > dd {
    text-align:justify;
}

.custom-justify > p {
    text-align:justify;
}


.custom-inline {
    display:block;
}
.custom-inline .pagination{
    display:inline-block;
    text-align: center;
}

 /******************************************
Menu d'en tête
*******************************************/
.custom-nav {
    float:right;
}

.custom-no-hover:hover {
    text-decoration:none;
}

/******************************************
cosmétique pour l'autocomplete
*******************************************/
.ui-autocomplete{
    background-color: #ffffff;
    border: 1px solid;
    border-color: #CCCCCC;
}

.ui-autocomplete > .ui-menu-item {
    border-bottom: 1px dotted;
    border-color: #CCCCCC;
}

/******************************************
fiches d'anciens
*******************************************/
.custom-img {
    max-width: 460px;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.custom-cadre {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 20px;
    padding: 9px;
}

.custom-cadre-header {
    border: 1px solid rgb(27,27,27);
    background-color: rgb(27,27,27);
    color: rgb(221,221,211);
    font-weight: bold;
    font-size: 20px;
    border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 12px;
    padding: 9px;
}


/******************************************
modification du compte
*******************************************/

.custom-thumbnails .span2 {
    width:165px;
}

.custom-sublabel {
    font-weight: bold;
    color: #5A5A5A;
    line-height: 14px;
}

.thumbnails {
    text-align:center;
}

.thumbnail {
    padding-bottom: 10px;
    text-align: center;
}

.custom-thumbnail-content {
    min-height:90px;
    overflow:hidden;
}

/* aligner la taille des boutons sur l'icône LinkedIn en 32*32 */
.custom-thumbnail .btn {
    padding-top:5px;
    padding-bottom:5px;
    padding-left:8px;
    padding-right:8px;
    min-height:20px;
}

.custom-bold {
    font-weight: bold;
}

.custom-center {
    text-align: center;
}

.table .custom-valign-middle {
    text-align: center;
    vertical-align: middle;
}

/* En mode "tablette", virer la position "fixed" pour mettre le menu tout en haut */
@media (max-width: 979px) {
    .custom-search{
        position:static;
    }

    body {
        padding-top:0px;
    }

    [class*="span"] {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        float: none;
        width: 100%;
    }

    [class*="offset"] {
        margin-left:0px;
    }

    .navbar{
        margin-bottom: 0px;
    }

    .custom-thumbnails .span2 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        float: none;
        width:744px;
        margin-left:20px;
    }

    .custom-ancien-container .span6 {
        margin-left:0px;
        padding-left:20px;
    }
}

/* Fix pour le header du mode téléphone */
@media (max-width: 767px){
    header{
        margin-right: -20px;
        margin-left: -20px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .custom-thumbnails .span2 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        float: none;
        width:100%;
        margin-left:0px;
    }

    .custom-ancien-container .span6 {
        padding-left:0px;
    }
}
