html {
    height:100%;
}

body {
    overflow-y: scroll;
    height:calc(100% - 51px);
    padding-top: 0;
    padding-bottom: 20px;
    background-color: #2c3e50!important;
    color: white!important;
    font-weight: 400;
    letter-spacing: 0.5pt;
}

.main-container {
    padding-bottom: 40px;
}

/* make sure the error form displays error */
.has-error .form-control {
    border-color: #A94442 !important;
}

.error-text {
    color: #FF6764 !important;
}

/* This is to prevent hidden-xs divs to become blocks */
/* http://stackoverflow.com/questions/20838883/inline-objects-becomes-block-while-using-some-hidden-xs-classes-in-twitter-boo*/
.navbar-btn.hidden-xs {
    display: inline-block !important;
}

@media (max-width: 767px) {
 .navbar-btn.hidden-xs {
  display: none!important;
 }
 .navbar-btn.visible-xs {
     display: inline-block !important;
 }
}

.navbar-right > .popover {
  max-width: none;
  width: 300px;
}

.help-block {
    color: #eee;
}

.navbar.nav-container,
footer {
    background-color: #ecf0f1;
    color: #2c3e50;
}

.nav-search-zone {
    position: relative;
}

.nav-search-zone .glyphicon {
    position: absolute;
    padding: 8px 22px;
    pointer-events: none;
    right: 0;
}

@media (max-width: 767px) {
    .nav-search-zone .glyphicon {
        position: absolute;
        padding: 17px 22px;
        pointer-events: none;
        right: 0;
    }
}

.navbar a.navbar-brand {
    color: #2c3e50;
    margin-left: -15px;
}

.navbar a.navbar-brand:hover, a.btn.btn-link:hover {
    border-bottom: none;
}

.popover .btn.btn-default, .navbar .btn.btn-default {
    border: 1px solid #1abc9c;
    color: white;
    background: #1abc9c;
}

.popover .btn.btn-default:hover, .navbar .btn.btn-default:hover {
    border: 1px solid #16a085;
    background: #16a085;
}

.popover .btn.btn-default:active, .navbar .btn.btn-default:active {
    border: 1px solid #1abc9c;
    color: white;
    background: #1abc9c;
}


h1, h2, h3, h4, h5 {
    font-weight: 200!important;
}

.top-band {
    background: #34495e;
    margin-top: -20px;
    padding-bottom: 10px;
}

.top-band-large {
    padding-top: 20px;
    padding-bottom: 30px;
}

#search-field {
    height: 48px;
    color: #eee;
    border: 2px solid #eee;
    border-right: none;
    background: none;
}

.search-field-container {
    margin: 50px 0;
}

.search-field-container .auto-complete {
    min-width: 70%;
    position: absolute;
    color: #333;
    background: #eee;
    border: 2px solid #fff;
    border-top: none;
    left: 20px;
    z-index: 1000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 200;
    display: none;
}

.search-field-container .auto-complete ul{
    list-style: none;
    padding-left: 0
}

.search-field-container .auto-complete li{
    padding: 2px 10px;
}

.search-field-container .auto-complete li:hover{
    background: white;
    cursor: pointer;
}

.first-auth-option {
    margin-right: 20px;
    margin-bottom: 20px;
}

.custom-box-container {
    position: relative;
}

.custom-box-divider {
    position: absolute;
    top: 0;
    left: 40%;
    height: 100%;
    width: 1px;
    border-left: 1px solid #ddd;
}

.custom-login-box {
    padding: 10px;
}

.btn.btn-default {
    background: #ecf0f1;
    color: #2c3e50;
    border: 1px solid #ecf0f1;
}

.btn.btn-default:hover {
    background: #bdc3c7;
}

.btn.btn-default:active {
    background: #ecf0f1;
}

.btn.btn-link, a {
    color: #2ecc71;
    border: none;
}

.btn.btn-link:hover, a:hover {
    color: #27ae60;
    text-decoration: none;
    border-bottom: 1px solid;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.footer-hack-container input.form-control,
.footer-hack-container textarea.form-control,
.footer-hack-container select.form-control
{
    background: none;
    border: 2px solid #eee;
    color: #eee;
}
.footer-hack-container input.form-control::-webkit-input-placeholder {
   color: #eee;
}

.footer-hack-container input.form-control:-moz-placeholder { /* Firefox 18- */
   color: #eee;
}

.footer-hack-container input.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #eee;
}

.footer-hack-container input.form-control:-ms-input-placeholder {
   color: #eee;
}

.footer-hack-container input.form-control:focus::-webkit-input-placeholder {
   color: #34495e;
}

.footer-hack-container input.form-control:focus:-moz-placeholder { /* Firefox 18- */
   color: #34495e;
}

.footer-hack-container input.form-control:focus::-moz-placeholder {  /* Firefox 19+ */
   color: #34495e;
}

.footer-hack-container input.form-control:focus:-ms-input-placeholder {
   color: #34495e;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*****************
 *  UTILITIES  *
 ****************/

 .fadein {
     -webkit-animation: fadein 1s; /* Safari and Chrome */
        -moz-animation: fadein 1s; /* Firefox */
         -ms-animation: fadein 1s; /* Internet Explorer */
          -o-animation: fadein 1s; /* Opera */
             animation: fadein 1s;
 }

 @keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }

 /* Firefox */
 @-moz-keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }

 /* Safari and Chrome */
 @-webkit-keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*****************
 *  SEARCH PAGE  *
 ****************/

.main-search-field {
    position: relative;
    margin-top: 30px;
}

.main-search-field .glyphicon {
    position: absolute;
    padding: 10px 18px;
    pointer-events: none;
    right: 0;
    font-size: 20px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/****************
 *  FOOTER hack *
 ****************/

.footer-hack {
    height:60px;
}

.footer-hack-container {
    min-height: 100%;
  height: auto !important;
    height: 100%;
  margin: 0 auto -60px;
}

.footer-hack-container > .container {
  padding-bottom: 30px;
}

footer {
    position: relative;
    width: 100%;
    padding: 10px 0;
    background: #ecf0f1;
    text-align:center;
}

footer p,ul {
    margin-bottom: 0;
}

footer .btn.btn-link, footer a {
    color: #34495e;
}

footer .btn.btn-link:hover, footer a:hover {
    color: #2c3e50;
    text-decoration: none;
    border-bottom: 1px solid;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/***********************
 * AUTOCOMPLETE        *
 ***********************/
/******************************************
cosmétique pour l'autocomplete
*******************************************/
.ui-autocomplete{
    background-color: #ffffff;
    border: 1px solid;
    border-color: #CCCCCC;
}

.ui-autocomplete > .ui-menu-item {
    border-bottom: 1px dotted;
    border-color: #CCCCCC;
}

.ui-autocomplete > .ui-menu-item > a {
    color:#666 !important;
}

.ui-autocomplete > .ui-menu-item:hover {
    background-color: #eeeeee;
}

.ui-autocomplete > .ui-menu-item > a:hover {
    font-weight: bold;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/****************
 * PROFILE PAGE *
 ***************/


.custom-img {
    max-width: 250px;
    max-height: 250px;
}

.cutsom-descriptor {
    font-style: italic;
    color: #bbb;
}

.custom-ancien-container {
    margin-top:20px;
    padding: 20px 0 20px 0;
    background-color: #34495E;
}


.custom-ancien-container-light {
    margin-top:20px;
    padding: 20px 0 20px 0;
    background-color: #3f5c73;
}

.custom-header-experience {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
}

@media (min-width: 768px) {
    .custom-text-right-big-screen {
        text-align: right;
    }

    .custom-text-center-big-screen {
        text-align: center;
    }

    .custom-label {
        margin-top: 6px;
    }

}

.custom-label {
    font-weight: 400;
}