{% extends "layout/layout_mono.html" %}

{% macro render_field_error(field) %}
    {% if not field.errors %}
    <div class="row" style="margin-bottom:5px;">
        <div class="col-sm-4 custom-text-right-big-screen cutsom-descriptor">{{ field.label(class="custom-label") }}</div>
        <div class="col-sm-4">{{ field(**kwargs)|safe }}</div>
    </div>
    {% else %}
    <div class="row" style="margin-bottom:5px;">
        <div class="col-sm-4 custom-text-right-big-screen cutsom-descriptor">{{ field.label(class="custom-label") }}</div>
        <div class="col-sm-4 has-error">
            {{ field(**kwargs)|safe }}
            {% for error in field.errors %}
                <span class="error-text">{{ error|safe }}</span>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endmacro %}

{% block title %}Reset password{% endblock %}

{% block top_band %}
    <h3>R&eacute;initialiser mon mot de passe</h3>
{% endblock %}


{% block content %}
<div class="row custom-login">
    <div class="col-sm-8 col-sm-offset-2">
        <div style="margin-top:20px;">
            {% include "helper/_flashes.html" %}
        </div>

        <form class="form form-horizontal" method=post action="{{ url_for('reset_password_activate', activation = activation) }}">
            {{ csrf_token()|hidden|safe }}
            {{ render_field_error(form.new_password, class="form-control") }}
            {{ render_field_error(form.new_password_confirm, class="form-control") }}
            <div class="row" style="margin-top:20px;">
                <div class="col-sm-8 text-right">
                    <input type=submit class="btn btn-primary" value="Modifier mon mot de passe">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}