{% from "helper/_formhelper.html" import
    render_field,
    render_field_error,
    render_uneditable,
    render_date_field
%}


<div class="col-sm-12 row password-form">
    <script>
    $(document).ready(
        function ()
        {
            {# Solid tactic : show the form if there are errors... #}
            {% if password_form.errors %}
            showPasswordForm();
            {% else %}
            showPassword();
            {% endif %}

        }
    );

    </script>
    <div class="col-sm-12">
        <form class="password-form-form container">
            {{ csrf_token()|hidden|safe }}

            {{ render_field_error(password_form.old_password, class="form-control") }}
            {{ render_field_error(password_form.new_password, class="form-control") }}
            {{ render_field_error(password_form.new_password_confirm, class="form-control") }}


            <div class="control-group col-sm-offset-2">
                <div class="controls" style="">
                    <a class="btn btn-success btn-sm" onClick="updatePassword()">Modifier</a>
                    <a class="btn btn-warning btn-sm pull-right" onClick="showPassword()">Annuler</a>
                </div>
            </div>
        </form>
    </div>
    </div>
