{# Rendering par défaut des formulaires. Contient :
    - render_field :            WTForms.Field basique
    - render_filed_error :      WTForms.Field avec outline rouge si erreur
    - render_perso_pro :        render les deux checkbox "Adresses pros" et "adresses persos"
    - render-date-field :       jQuery datepicker au format MM/yyyy
    - hidden_field :            champ caché, principalement pour les csrf_tokens
    - render_uneditable :       field non éditable
    #}

{% macro render_field(field) %}
<div class="control-group">
		{{ field.label(class="control-label") }}
		<div class="controls">{{ field(**kwargs)|safe }}</div>
</div>
{% endmacro %}

{% macro render_field_error(field) %}
{% if not field.errors %}
<div class="row" style="margin-bottom:5px;">
    <div class="col-sm-2 custom-text-right-big-screen cutsom-descriptor">{{ field.label(class="custom-label") }}</div>
    <div class="col-sm-10">{{ field(**kwargs)|safe }}</div>
</div>
{% else %}
<div class="row" style="margin-bottom:5px;">
    <div class="col-sm-2 custom-text-right-big-screen cutsom-descriptor">{{ field.label(class="custom-label") }}</div>
    <div class="col-sm-10 has-error">
        {{ field(**kwargs)|safe }}
        {% for error in field.errors %}
            <span class="error-text">{{ error|safe }}</span>
        {% endfor %}
    </div>
</div>

{% endif %}
{% endmacro %}


{% macro render_radio(field) %}
<div class="control-group">
    <label class="control-label">{{ field.label }}</label>
    <div class="controls">
        {% for subfield in field %}
            {{ subfield }}{{ subfield.label(class="radio inline custom-padding-right") }}
        {% endfor %}
    </div>
</div>
{% endmacro %}



{% macro render_date_field(field) %}
{% if not field.errors %}

    <div class="row" style="margin-bottom:5px;">
        <div class="col-sm-2 custom-text-right-big-screen cutsom-descriptor">{{ field.label(class="custom-label") }}</div>
        <div class="col-sm-10">
            <input id="{{ field.id }}" name="{{ field.name }}" class="form-control {{ field.name }}" type="text" data-date-minviewmode="months" data-date-viewmode="months" data-date-format="mm/yyyy" data-date="{{ field.data|date_to_month }}" value="{{ field.data|date_to_month }}" autocomplete="off">
        </div>
    </div>
{% else %}

    <div class="row" style="margin-bottom:5px;">
        <div class="col-sm-2 custom-text-right-big-screen cutsom-descriptor">{{ field.label(class="custom-label") }}</div>
            <div class="col-sm-10 has-error">
                <input id="{{ field.id }}" name="{{ field.name }}" class="form-control {{ field.name }}" type="text" data-date-minviewmode="months" data-date-viewmode="months" data-date-format="mm/yyyy" data-date="{{ field.data|date_to_month }}" value="{{ field.data|date_to_month }}" autocomplete="off">
                {% for error in field.errors %}
                    <span class="error-text">{{ error|safe }}</span>
                {% endfor %}
            </div>
    </div>
{% endif %}
{% endmacro %}


{% macro hidden_field(field) %}
<input type="hidden" name="{{ field.name }}" value="">
{% endmacro %}

{% macro render_uneditable(field) %}
    <div class="row" style="margin-bottom:5px;">
        <div class="col-sm-2 custom-text-right-big-screen cutsom-descriptor">{{ field.label(class="custom-label") }}</div>
        <div class="col-sm-10">
            <input class="form-control" id="disabledInput" type="text" placeholder="{{ field.data|escape_none }}" disabled>
        </div>
    </div>
{% endmacro %}

