<div class="nav navbar-nav navbar-right">
    <a class='btn btn-default navbar-btn hidden-xs' href="{{ url_for('compte') }}">Mon compte</a>
    <a class='btn btn-link navbar-btn hidden-xs' href="{{ url_for('logout') }}">D&eacute;connexion</a>
    <a class='btn btn-default navbar-btn visible-xs' href="{{ url_for('compte') }}"><span class="glyphicon glyphicon-user"></span></a>
    <a class='btn btn-danger navbar-btn visible-xs' href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span></a>
</div>