<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> {% block title %}Ancien Intermines{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="author" content="">

        <!-- Le jQuery, mother of everything -->
        {% if jquery_cdn != None %}
            <script type="text/javascript" src="{{ jquery_cdn }}"></script>
        {% else %}
            <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.8.3.min.js') }}"></script>
        {% endif %}


        <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet">

        <!-- Le bootstrap (functional, and stylish). -->
        {% if bootstrap_css_cdn != None %}
            <link href="{{bootstrap_css_cdn }}" rel="stylesheet">
        {% else %}
            <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
        {% endif %}

        {% if bootstrap_js_cdn != None %}
            <script type="text/javascript" src="{{ bootstrap_js_cdn }}"></script>
        {% else %}
            <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        {% endif %}

        <!-- Le analytics, to spy on you. -->
        {% if google_analytics != None %}
            {{ google_analytics }}
        {% endif %}

        <!-- Le jQuery-ui, for sexy serach-bars. -->
        <link href="{{ url_for('static',filename='css/jquery-ui-1.10.0.custom.min.css') }}" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-ui-1.10.0.custom.min.js') }}"></script>

        <!-- Le custom stuff. -->
        <script type="text/javascript" src="{{ url_for('static',filename='js/annuaire.js') }}"></script>
        <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet">

        <!-- Le user scripts. -->
        {% block additional_scripts %}{% endblock %}


    </head>
    <body id="body">

        <!-- Le user navbar -->
        <header class="navbar navbar-static-top nav-container">
            <div class="container">
                <div class="row">
                  <div class="col-lg-10 col-lg-offset-1">
                    <a class="navbar-brand" href="{{ url_for('home') }}">Mines-Alumni.com</a>
                    <div class="navbar-right">
                        {% block navbar %}
                                {% include "layout/_navbar.html" %}
                        {% endblock %}
                    </div>
                  </div>
                </div>
            </div>
        </header>


        <div class="footer-hack-container">
            <!-- Le page-defined layout. -->

            <div class="top-band">
              <div class="container">
                <div class="row">
                  <div class="col-lg-10 col-lg-offset-1">
                    {% block top_band %}
                    <div>
                      <h3>Le moteur de recherche de Mineurs</h3>
                    </div>
                    {% endblock %}
                  </div>
                </div>
              </div>
            </div>

            <!-- Le page-defined layout. -->
            {% block layout %}{% endblock %}
            <div class="footer-hack"></div>
        </div>

        <!-- Le modal block, to cram all your modal windows -->
        {% block modal %}{% endblock %}


        <!-- Le crazy footer. -->
        {% block footer %}
            {% include "helper/_footer.html" %}
        {% endblock %}

    </body>
</html>
