{% extends "layout/layout_main.html" %}
{% block layout %}
<!-- Le sexy responsive layout, with search on one side and data on the other-->
<div class="container">
    <div class="row">
        <div class="span4">
            <div class="nav custom-search affix-top" data-spy="affix" data-offset-top="120">
                    {%block search_form %}{% endblock %}
            </div>
        </div>
        <div class="span8">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}