<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Moteur de recherche des Mineurs</title>

    <!-- SCRIPTS : Le scripts and styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/autocomplete.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>

    <script>
        var appGlobals =    {   url:    {   autocomplete:   {   fulltext:   '{{ url_for("autocomplete_fulltext") }}'
                                                            },
                                            search:         {   fulltext:   '{{ url_for("fulltext_api") }}'
                                                            },
                                            ancien:         function(id) { return '{{ url_for("ancien_by_id", id_ancien=0) }}'.replace("0", id); },
                                            ancien_complet: function(id) { return '{{ url_for("ancien_by_id", id_ancien=0, complet=True) }}'.replace("0", id); },
                                            photo:          function(photo_id)
                                                            {
                                                                if(photo_id)
                                                                    return "{{ url_for('static',filename='img/0') }}".replace("0", photo_id);
                                                                else
                                                                    return "{{ url_for('static',filename='img/no_photo.jpg') }}";
                                                            },
                                            user:           {   experience:     {       setPrimaire:    function(id)    { return "{{ url_for('experience_set_default_api', id_experience='0') }}".replace("0", id); }
                                                                                }
                                                            },
                                            logged:         '{{ url_for("logged") }}',
                                            login:          '{{ url_for("login") }}',
                                            logout:         '{{ url_for("logout") }}',
                                            whoami:         '{{ url_for("user_info_api")}}'
                                        }
                            }
    </script>

    <script src="{{ url_for('static', filename='js/react.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/underscore.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/backbone.min.js')}}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/autocomplete.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/annuaire.js')}}"></script>


    <script src="{{ url_for('static', filename='js/app-bundle.js')}}"></script>


    <!-- /SCRIPTS -->
</head>
<body id="body">

<!-- NAVBAR : Le user navbar -->
<header class="navbar navbar-static-top nav-container">
    <div class="container">
        <div class="row" id="js-navbar">
                <!-- THIS BLOCK WILL BE LOADED BY JAVASCRIPT -->
        </div>
    </div>
</header>
<!-- /NAVBAR -->


<div class="footer-hack-container">
    <div class="top-band">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h3>Le moteur de recherche de Mineurs</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Le page-defined layout. -->
    <div class="main-container" id="js-main">
        <!-- THIS BLOCK WILL BE LOADED BY JAVASCRIPT -->
    </div>
    <div class="footer-hack"></div>
</div>

<!-- Le crazy footer. -->
<footer class="custom-footer">
    <div class="container">
        <p>Conception par <a href="http://garnier.wf" target="_blank">DGM</a>, PAD, PKN.
            Contact : <a href="mailto:contact@mines-alumni.com?subject=[Mines-alumni.com] Feedback">contact@mines-alumni.com</a>.
        </p>

        <p>Code sous licence <a href="https://gnu.org/licenses/gpl.html" target="_blank">GNU GPLv3</a>, disponible sur
            <a href="https://github.com/Kehrlann/annuaire" target="_blank">Github</a>.</p>
        <ul class="list-inline">
            <li>Kudos to</li>
            <li class="muted">:</li>
            <li><a href="http://flask.pocoo.org" target="_blank">Flask</a></li>
            <li class="muted">-</li>
            <li><a href="http://getbootstrap.com" target="_blank">Bootstrap</a></li>
            <li class="muted">-</li>
            <li><a href="http://glyphicons.com/" target="_blank">Glyphicons</a></li>
        </ul>
    </div>
</footer>
</body>
</html>