<p>Le formulaire de recherche &agrave; gauche de l'&eacute;cran vous permet de rechercher des anciens dans la base de donn&eacute;es Intermines, en combinant diff&eacute;rents crit&egrave;res. Afin de rendre la recherche plus souple et efficace, les r&egrave;gles suivantes s'appliquent :</p>
<dl>
    <dt>Recherche &eacute;tendue :</dt>
    <dd>Si vous recherchez un mot, le moteur recherche fera une recherche sur tous les groupes contenant ce mot. Par exemple, rechercher l'entreprise <i>thal&egrave;s</i> permettra de trouver tous les anciens travaillant chez <i>Thal&egrave;s</i>, mais aussi chez <i>Thal&egrave;s Avionics</i>, <i>Thal&egrave;s Underwater Systems</i>, etc.</dd>
    <br />
    <dt>Recherche exacte :</dt>
    <dd>Si vous souhaitez effectuer une recherche sur un terme exact, veuillez placer le terme entre guillements. Par exemple, <i>"edf"</i> permet de rechercher l'entreprise <i>EDF</i> en ignorant les r&eacute;sultats comme <i>EDF GDF</i>, <i>EDF RTE</i>, etc.</dd>
    <br />
    <dt>Recherche multiple :</dt>
    <dd>Vous pouvez rechercher sur plusieurs termes &agrave; la fois, en les s&eacute;parant par un espace. Par exemple, faire une recherche sur l'entreprise <i>sncf ratp</i> trouvera les anciens travaillant pour la SNCF ainsi que ceux travaillant pour la RATP. </dd>
    <br />
    <dt>Recherche par promotion :</dt>
    <dd>Vous pouvez rechercher sur une promotion unique (ex :<i>2008</i>), sur plusieurs promotions &agrave; la fois (ex :<i>1990 1995</i>) ou sur un ensemble de promotions (ex : <i>2000-2010</i>). </dd>
    <br />
</dl>