{% extends "layout/layout_mono.html" %}
{% from "helper/_ancienhelper.html" import
    render_descriptor,
    render_descriptor_mult,
    render_descriptor,
    render_linkedin,
    render_link,
    render_adresse,
    br_not_empty %}

{% block top_band %}
    {% if ancien != None%}
        <h1 style="font-weight: bold !important;">{{ ancien['prenom']|escape_none+' '+ancien['nom'] }}</h1>
        {% if ancien['date_update'] != None %}
        <p class="lead">Derni&egrave;re mise &agrave; jour : {{ ancien['date_update'].strftime('%d/%m/%Y') }}</p>
        {% else %}
        <p class="lead">N'a pas encore mis son profil &agrave; jour</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block additional_scripts %}
<script>
    $(document).ready(
        function()
        {
            $(".experience-form").hide();
            $(".experience").show();
            $('input.ville').autocomplete({
                source : '{{ url_for("autocomplete_ville_simple") }}',
                //width: 300,
                max: 10,
                delay: 100,
                cacheLength: 1,
                scroll: false
            });
            $('input.entreprise').autocomplete({
                source : '{{ url_for("autocomplete_entreprise_simple") }}',
                //width: 300,
                max: 10,
                delay: 100,
                cacheLength: 1,
                scroll: false
            });
        }

    );

    var showExperienceForm =
        function(id)
        {
            $("#"+id).children(".experience").hide();
            $("#"+id).children(".experience-form").show();
        };

    var showExperience =
        function(id)
        {
            $("#"+id).children(".experience").show();
            $("#"+id).children(".experience-form").hide();
        };
</script>
{% endblock %}


{% block title %}Anciens Intermines{% endblock %}
{% block content %}

        {% include "helper/_flashes.html" %}
        {% if ancien != None%}
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

                {% include "annuaire/profile/_infos_perso.html" %}


            <!-- Experiences Pro -->
            {% for exp in experiences %}
            {% with form = experience_forms.get(exp['experience_id_experience']) %}
                {% include "annuaire/profile/_experience.html" %}
            {% endwith %}
            {% endfor %}
            </div>
        </div>


        {% else %}
            <h2>Oups ! Pas de donn&eacute;es ...</h2>
            L'ancien que vous recherchez ne semble pas exister ...
        {% endif %}

{% endblock %}
