{% extends "layout/layout_main.html" %}

<!-- Remove the search bar from the search page -->
{% block navbar %}
    {% include "layout/_navbar.html" %}
{% endblock %}

{% block layout %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="main-search-field" style="position: relative">
        <input type="text" class="form-control input-lg">
        <span class="glyphicon glyphicon-search"></span>
      </div>
      <a href="" class="pull-right btn btn-link">Recherche avancée</a>
    </div>
  </div>
</div>

{% endblock %}