{% extends "layout/layout_mono.html" %}

{% block additional_scripts %}
    <link href="{{ url_for('static',filename='css/datepicker.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-datepicker.js') }}"></script>
{% endblock %}

{% block header %}
    <h1>Modifier une exp&eacute;rience professionnelle</h1>
{% endblock %}

{% block content %}
{% from "helper/_formhelper.html" import render_field, render_field_error, render_date_field %}
<div class="row">
    <div class="span6 offset3 custom-ancien-container">
        <form class="form form-horizontal" method=POST action='{{ url_for("update_experience", id_experience=id_experience) }}'>
            {{ csrf_token()|hidden|safe }}
            {{ render_field_error(form.entreprise, class="custom-input-width ui-autocomplete-input", id="entreprise") }}
            {{ render_field_error(form.poste, class="custom-input-width") }}
            {{ render_field_error(form.description, class="custom-input-width custom-triple-height") }}
            {{ render_date_field(form.date_debut) }}
            {{ render_date_field(form.date_fin) }}
            <br />
            {{ render_field_error(form.adresse, class="custom-input-width") }}
            {{ render_field_error(form.ville, class="custom-input-width ui-autocomplete-input", id="ville") }}
            {{ render_field_error(form.code, class="custom-input-width") }}
            {{ render_field_error(form.pays, class="custom-input-width") }}
            <br />
            {{ render_field_error(form.mail, class="custom-input-width") }}
            {{ render_field_error(form.site, class="custom-input-width") }}
            {{ render_field_error(form.telephone, class="custom-input-width") }}
            {{ render_field_error(form.mobile, class="custom-input-width") }}

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Mettre &agrave; jour</button>
                    <a href="{{ url_for("compte") }}" role="button" class="btn">Annuler</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $('input#ville').autocomplete({
        source : '{{ url_for("autocomplete_ville_simple") }}',
        //width: 300,
        max: 10,
        delay: 500,
        cacheLength: 1,
        scroll: false
    });
    $('input#entreprise').autocomplete({
        source : '{{ url_for("autocomplete_entreprise_simple") }}',
        //width: 300,
        max: 10,
        delay: 500,
        cacheLength: 1,
        scroll: false
    });
    $('#date_debut').datepicker();
    $('#date_fin').datepicker();
</script>
{% endblock %}