{% extends "layout/layout_main.html" %}


{% block top_container %}
<div class="first-band">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h1>Le moteur de recherche de Mineurs*</h1>
          <h3>*Anciens des Mines de Nancy, Paris et Saint-Etienne</h3>
      </div>
    </div>
    <div class="row search-field-container">
      <div class="col-lg-10">
        <div class="input-group">
          <input type="text" class="form-control input-lg" id="search-field" placeholder="Ex: Pierre Durand SNCF" title="Vous devez être identifié pour effectuer une recherche sur l'annuaire." disabled>
          <span class="input-group-btn">
            <button class="btn btn-default btn-lg" disabled><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <h3 >Pour prouver que je suis bien un ancien des Mines, je m'identifie:</h3>

          <div class="well col-lg-5 auth-option first-auth-option">
            <h4>Avec mon compte LinkedIn</h4>
            <a href="" class="btn btn-primary">Connexion avec LinkedIn</a><br>
            <span class="help-block">Nous vérifierons votre appartenance à un des groupes privés d'Anciens des Mines.</span>
          </div>

          <div class="well col-lg-5 auth-option" >
            <h4>Avec mon email à vie</h4>
            <form class="form form-horizontal" method="POST" role="form" action='{{ url_for("inscription") }}'>
              {{ csrf_token()|hidden|safe }}
              <div>
                <div class="input-group">
                  <input type="text" class="form-control" id="{{ form.mail_ancien.id }}" placeholder="prenom.nom">
                  <span class="input-group-addon">@</span>
                  <select id="{{ form.domaine_ancien.id }}" class="input-group-btn form-control">
                      <option value="@mines-paris.org">mines-paris.org</option>
                      <option value="@mines-saint-etienne.org">mines-saint-etienne.org</option>
                      <option value="@mines-nancy.org">mines-nancy.org</option>
                  </select>
                </div>
                <span class="help-block">Un email sera envoyé à cette adresse pour vérification.</span>
              </div>
              <div>
                <input type="password" class="form-control" id="{{ form.password.id }}" placeholder="Mot de passe">
                <span class="help-block">Ce mot de passe servira pour vous connecter à Mines-Alumni.com</span>
              </div>
              {% if form.errors != None and form.errors|count_not_null > 0 %}
              <div class="alert alert-danger">
                  <ul>
                      {% for error in form.errors %}
                          {% if error != None %}<li>{{ error }}</li>{% endif %}
                      {% endfor %}
                  </ul>
              </div>
              {% endif %}
              <button type="submit" class="btn btn-primary js-login-submit">Valider</button>
              <a href="{{ url_for('login')}}" class="btn btn-link">J'ai déjà un compte</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="second-band">
  DEUX
</div>

{% endblock %}