{% extends "layout/layout_mono.html" %}

{% block header %}
    <h1>Modifier mon mot de passe</h1>
{% endblock %}

{% block content %}
{% from "helper/_formhelper.html" import render_field_error %}
<div class="row">
    <div class="span6 offset3 custom-ancien-container">
        <form class="form form-horizontal" method=POST action='{{ url_for("update_password") }}'>
            {{ csrf_token()|hidden|safe }}
            {{ render_field_error(form.old_password, class="custom-input-width") }}
            {{ render_field_error(form.new_password, class="custom-input-width") }}
            {{ render_field_error(form.new_password_confirm, class="custom-input-width") }}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Mettre &agrave; jour</button>
                    <a href="{{ url_for("compte") }}" role="button" class="btn">Annuler</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}