{% extends "layout/layout_mono.html" %}


{% block additional_scripts %}

{% endblock %}

{% block header %}
    <h1>Modifier ma photo</h1>
{% endblock %}

{% block content %}
{% from "helper/_formhelper.html" import render_field_error %}
<div class="row">
    <div class="span6 offset3 custom-ancien-container">

    {% if photo != None and photo != '' %}
        <img src="{{ url_for('static',filename='img/'+photo) }}" class="custom-img" class="span4"/>
    {% else %}
        <img src="{{ url_for('static',filename='img/no_photo.png') }}" class="custom-img" class="span4"/>
    {% endif %}
    <br />

        <form class="form form-horizontal" method="POST" action='{{ url_for("update_photo") }}' enctype="multipart/form-data">
            {{ csrf_token()|hidden|safe }}

            <div class="control-group">
                <label class="control-label" for="file">Photo</label>
                <div class="controls">
                    <input type="file" name="file" class="filestyle" data-buttonText="Parcourir ..." data-classInput="input-small">
                    <p><i>Taille max : 2 Mo ; Formats autoris&eacute;s : png, jpg, jpeg, gif</i></p>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Mettre &agrave; jour</button>
                    <a href="{{ url_for("compte") }}" role="button" class="btn">Annuler</a>
                </div>
            </div>
        </form>
    </div>
</div>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-filestyle.min.js') }}"></script>
{% endblock %}