{% extends "layout/layout_main.html" %}

{% block top_band %}
<div class="top-band-large">
  <h1>Le moteur de recherche de Mineurs*</h1>
  <h5>*Anciens des Mines de Nancy, Paris et Saint-Etienne</h5>
</div>
{% endblock %}

{% block layout %}
<div class="container">
  <div class="rowpadding-top: 40px; ">
    <div class="col-lg-10 col-lg-offset-1">

        <div style="margin-top:20px;">
            {% include "helper/_flashes.html" %}
        </div>

      <div>
        <h4 style="padding-bottom: 10px">1. Je prouve que je suis bien un ancien des Mines</h4>
        <div class="row">
<!--             <div class="col-md-5 auth-option first-auth-option">
            <h4><b>Avec mon compte LinkedIn</b></h4>
            <a href="{{ linkedin_url }}" class="btn btn-default"><img height="20" src="{{ url_for('static',filename='img/linkedin.gif') }}"/> Connexion avec LinkedIn</a><br>
            <span class="help-block">Nous vérifierons votre appartenance à un des groupes privés d'Anciens des Mines.</span>
          </div> -->

          <div class="col-md-12 auth-option" >
            <!-- <h4><b>Avec mon adresse email d'ancien</b></h4> -->

            <form class="form form-inline" method="POST" action='{{ url_for("inscription") }}'>
              {{ csrf_token()|hidden|safe }}
              <div class="row">
                  <div class="col-sm-6">
                      <div class="row">
                          <div class="form-group col-xs-6" style="padding-right: 1px">
                              <input type="text" class="form-control" name="{{ form.mail_ancien.name }}" id="{{ form.mail_ancien.id }}" placeholder="prenom.nom" onkeyup="if(this.value.length > 4){ $('.js-hide-until-email').show() }" onblur="if(this.value.length == 0){ $('.js-hide-until-email').hide() }">
                          </div>
                          <div class="form-group col-xs-6" style="padding-left: 1px">
                        <select name="{{ form.domaine_ancien.name }}" id="{{ form.domaine_ancien.id }}" class="form-control">
                            <option value="@mines-paris.org">@mines-paris.org</option>
                            <option value="@mines-saint-etienne.org">@mines-saint-etienne.org</option>
                            <option value="@mines-nancy.org">@mines-nancy.org</option>
                        </select>
                      </div>
                  </div>
                </div>
              </div>

            <span class="help-block">Un email sera envoyé à cette adresse pour vérification. </span>



              <div style="display: none" class="js-hide-until-email">
                <h4 style="padding-top: 40px; padding-bottom: 10px">2. Je choisis un mot de passe pour les fois prochaines</h4>
                <div class="row">
                  <div class="col-sm-6">
                    <input type="password" class="form-control" name="{{ form.password.name }}" id="{{ form.password.id }}" placeholder="Mot de passe" onkeyup="if(this.value.length > 5){ $('.js-hide-until-password').show() }" onblur="if(this.value.length == 0){ $('.js-hide-until-password').hide() }">
                  </div>
                </div>
                <span class="help-block">Ce mot de passe servira pour me connecter à Mines-Alumni.com</span>
                {% if form.errors != None and form.errors|count_not_null > 0 %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in form.errors %}
                            {% if error != None %}<li>{{ error }}</li>{% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div style="padding-top: 40px; display: none" class="js-hide-until-password">
                  <button type="submit" class="btn btn-default js-login-submit">Je Valide</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

